.sprite1 {
  width: 100px;
  height: 130px;
  background-image: url(../images/trump-spritesheet.png);
  position: absolute;
  left: 0;

}

.sprite2 {
  width: 100px;
  height: 130px;
  background-image: url(../images/hillary-spritesheet.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 150px;
}

.container {
  width: 100%;
  height: 310px;
  border: 1px solid black;
  position: relative;
  background-image: url(../images/track2_copy.png);
}

header {
  height: 300px;
  background-image: url(../images/stands.png);
}

.scoreBoard {
  float: right;
  border: solid black 1px;
  border-radius: 5px;
  width: 285px;
  height: 125px;
  background-color: white;
  margin-right: 30px;
}

.left1 {
  background-position: 247px 150px;
}

.right1 {
  background-position: 120px -5px;
}

.left2{
  background-position: 0px -140px;
}

.right2{
  background-position: -6px -145px;
}

.trumpResults {
  padding: 4px 4px;
  display: block;
}

.hillaryResults {
  padding: 4px 4px;
  display: block;
}

button {
  padding: 4px 4px;
}

h1 {
  text-align: center;
  font-family: 'FF Meta Bold';
}
